<h2>Diada: {{ actuacioFromDB.diada}}</h2>
{{!-- <div>
    {{#each actuacioFromDB.photo}}
        <img src={{this}} alt="foto-castell">
    {{/each}}
</div> --}}
<div class="flex-between">
    <div class="flex">
        <div>
            <img class="img50" src={{actuacioFromDB.photo}} alt="foto-castell">
        </div>
        <div>
            <strong>Adreça: </strong>{{actuacioFromDB.address}}
            <br>
            <strong>Data: </strong>{{actuacioFromDB.date}}
            <br>
            <strong>Castells: </strong>{{actuacioFromDB.castells}}
            <br>
            <strong>Altres Colles: </strong>{{actuacioFromDB.colles}}
        </div>
    </div>
    <div>
        {{#if user}}
        {{#unless actuacioFromDB.comments}}
        <p>Encara no hi ha comentaris!</p>
        {{/unless}}
        
        {{#each actuacioFromDB.comments}}
            <p><b>{{this.author.username}}:</b> {{this.content}}</p>
            {{!-- <form action="/actuacions/{{this._id}}/delete-comment" method="POST">
                <button type="submit">Esborra el comentari</button>
            </form> --}}
        {{/each}}

        <hr>
        
        <h3>Afageix un comentari</h3>
        
        <form action="/actuacions/{{actuacioFromDB._id}}/comment" method="POST">
        {{!-- <label> Your username: <br>
            <select name="author" id="author">
            {{#each usersFromDb}}
                <option value="{{ this.id }}">
                {{this.username}}
                </option>
            {{/each}}
            </select>
        </label><br> --}}
        
        <br>
        {{!-- <input type="text" name="postAuthor" value="{{author.username}}" hidden /> --}}
        <textarea name="content" cols="30" rows="2" >Mola actuar al Mnactec en jornada de portes obertes i aprofitar per visitar el museu.</textarea>
        <br>
        <button type="submit">Comenta</button> | <button type="reset" value="Reset">Reset</button>
        </form>
        {{/if}}
    </div>
</div>
<hr>
<div class="flex-gap">
    <a type="submit" class="btn" style="background-color: #ee2229; color:white" href="/actuacions/{{actuacioFromDB._id}}/edit">Edita l'actuació</a>
    <form action="/actuacions/{{actuacioFromDB.id}}/delete" method="POST">
        <button type="submit" class="btn" style="background-color: #ee2229; color:white" type="submit">Esborra l'actuacio</button>
    </form>
</div>    
<a class="btn btn-sm" style="background-color: white; color:#ee2229" href="/actuacions">Back</a>


