<div class="bg-red">  
    <h2>Diada: {{ actuacioFromDB.diada}}</h2>
    {{!-- <div>
        {{#each actuacioFromDB.photo}}
            <img src={{this}} alt="foto-castell">
        {{/each}}
    </div> --}}
    <div class="actuacions">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="{{actuacioFromDB.photo}}" target="_blank"><img class="img50" src={{actuacioFromDB.photo}} alt="foto-actuació"></a>
            </div>
            <div id="dades-actuacio" class="col-md-4 bg-white">
                <strong>ADREÇA: </strong>{{actuacioFromDB.address}}
                <hr>
                <strong>DATA: </strong>{{actuacioFromDB.date}}
                <hr>
                <strong>CASTELLS: </strong>{{actuacioFromDB.castells}}
                <hr>
                <strong>ALTRES COLLES: </strong>{{actuacioFromDB.colles}}
            </div>
            <div id="comentaris" class="col-md-4">
                {{#if user}}
                    <h3 class="padd-left">Comentaris</h3>
                    <div class="bg-white">
                        {{#unless actuacioFromDB.comments}}
                        <p class="padd-left padd-right">Encara no hi ha comentaris!</p>
                        {{/unless}}
                        
                        {{#each actuacioFromDB.comments}}
                            <p class="padd-left"><b>{{this.author.username}}:</b> {{this.content}}</p>
                            <hr>
                            {{!-- <form action="/actuacions/{{this._id}}/delete-comment" method="POST">
                                <button type="submit">Esborra el comentari</button>
                            </form> --}}
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div>
            {{#if user}}

                
                
                <h3>Afegeix un comentari</h3>
                
                <form action="/actuacions/{{actuacioFromDB._id}}/comment" method="POST">
                {{!-- <label> Your username: <br>
                    <select name="author" id="author">
                    {{#each usersFromDb}}
                        <option value="{{ this.id }}">
                        {{this.username}}
                        </option>
                    {{/each}}
                    </select>
                </label><br> --}}
                
                
                {{!-- <input type="text" name="postAuthor" value="{{author.username}}" hidden /> --}}
                <textarea name="content" cols="50" rows="5" >Mola actuar al Mnactec en jornada de portes obertes i aprofitar per visitar el museu.</textarea>
                <br>
                <div class="padd-top">
                    <button class="btn btn-sm" style="background-color: white; color:#ee2229" type="submit">Comenta</button>
                    <button class="btn btn-sm" style="background-color: white; color:#ee2229" type="reset" value="Reset">Reset</button>
                </div>
                </form>
            {{/if}}
        </div>
    </div>
    
    {{#if canEdit}}
        <div class="flex-gap padd-left">
            <a type="submit" class="btn" style="background-color: white; color:#ee2229" href="/actuacions/{{actuacioFromDB._id}}/edit">Edita l'actuació</a>
            <form action="/actuacions/{{actuacioFromDB.id}}/delete" method="POST">
                <button  type="submit" class="btn" style="background-color: white; color:#ee2229" type="submit">Esborra l'actuacio</button>
            </form>
        </div>  
    {{/if}}  
    <a class="btn btn-sm padd-left" style="background-color: #ee2229; color:white" href="/actuacions">Back</a>
</div>  

