<h2>Diada: {{ actuacioFromDB.diada}}</h2>
<img class="details-img" src={{actuacioFromDB.photo}} alt="foto-castell">
<br>
{{actuacioFromDB.address}}
<br>
{{actuacioFromDB.date}}
<br>
{{actuacioFromDB.castells}}
<br>
{{actuacioFromDB.colles}}
<br>
<a href="/actuacions">Back</a> | <a href="/actuacions/{{actuacioFromDB._id}}/edit">Edita l'actuació</a>


