<h2>Diada: {{ actuacioFromDB.diada}}</h2>
<img class="details-img" src={{actuacioFromDB.photo}} alt="foto-castell">
<br>
{{actuacioFromDB.address}}
<br>
{{actuacioFromDB.address}}
<br>
{{actuacioFromDB.castells}}
<br>
{{actuacioFromDB.colles}}
<br>
<a href="/actuacions">Back</a> 


