<h2>Edita una nova actuació</h2>

<form action="/actuacions/{{actuacioFromDB.id}}/edit" method="POST">
  <label> Diada:
    <textarea type="text" name="diada" rows="1" cols="30"> {{actuacioFromDB.diada}} </textarea>
  </label>
  <br>

  <label> Adreça:
    <textarea type="text" name="address" rows="1" cols="30"> {{actuacioFromDB.address}} </textarea>
  </label>
  <br>

  <label> Data:
    <input type="date" name="date" value="{{actuacioFromDB.date}}">
  </label>
  <br>

  <label> Castells:
    <textarea type="text" name="castells" rows="1" cols="30"> {{actuacioFromDB.castells}} </textarea>
  </label>
  <br>

  <label> Altres colles:
    <textarea type="text" name="colles" rows="1" cols="30"> {{actuacioFromDB.colles}} </textarea>
  </label>
  <br>

  <label> Foto:
    <input type="image" src="../public/images/castell-tipus.jpg" alt="foto-castell" value="{{actuacioFromDB.photo}}">
  </label>
  <br>

  {{!-- <label for="user-select"> Creada per:
    <select name="user">
      <option disable selected value=""></option>
      {{#each actuacioFromDB.user}}
        <option value="{{this._id}}"> {{this.username}} </option>
      {{/each}}
    </select>
  </label> --}}
  <br>

  <button type="submit"> Save </button>
</form>
<br>
<a href="/actuacions/{{actuacioFromDB._id}}">Back</a>