<h2>Edita l'actuació {{actuacioFromDB.diada}}</h2>

<form action="/actuacions/{{actuacioFromDB.id}}/edit" method="POST" enctype="multipart/form-data" class="row g-3">
  <div class="col-md-6">
    <label class="form-label"> <b>Diada</b>
      <textarea class="form-control" type="text" name="diada" rows="1" cols="70"> {{actuacioFromDB.diada}} </textarea>
    </label>
  </div>
  <div class="col-md-6">
    <label class="form-label"> <b>Adreça</b>
      <textarea class="form-control" type="text" name="address" rows="1" cols="70"> {{actuacioFromDB.address}} </textarea>
    </label>
  </div>
  <div class="col-md-6">
    <label class="form-label"> <b>Data</b>
      <input class="form-control" type="date" name="date" value="{{actuacioFromDB.date}}">
    </label>
  </div>
  <div class="col-md-6">
    <label class="form-label"> <b>Castells</b>
      <textarea class="form-control" type="text" name="castells" rows="1" cols="70"> {{actuacioFromDB.castells}} </textarea>
    </label>
  </div>
  <div class="col-md-6">
    <label class="form-label"> <b>Foto</b>
      <input class="form-control" style="background-color: white; color:#ee2229" type="file" name="actuacio-image">
    </label>
  
    {{#if imageUrl }}
      <p>Imatge actual:</p>
      <img src="{{ imageUrl }}" class="img-fluid" alt="">
      <a href="/movies/{{id}}/delete-image">Eliminar imatge</a>
    {{/if}}

    {{#unless imageUrl}}
      <p>Imatge actual:</p>
      <img src="{{ actuacioFromDB.photo }}" class="img-fluid" alt="">
    {{/unless}}
  </div>
  <div class="col-md-6">
    <label class="form-label"> <b>Altres colles</b>
      <textarea class="form-control" type="text" name="colles" rows="1" cols="70"> {{actuacioFromDB.colles}} </textarea>
    </label>
  </div>


    {{!-- <label> Foto:
      <input type="image" src="../public/images/castell-tipus.jpg" alt="foto-castell" value="{{actuacioFromDB.photo}}">
    </label> --}}
    

    {{!-- <label for="user-select"> Creada per:
      <select name="user">
        <option disable selected value=""></option>
        {{#each actuacioFromDB.user}}
          <option value="{{this._id}}"> {{this.username}} </option>
        {{/each}}
      </select>
    </label> --}}
    
  <div class="col-12">
    <button class="btn" style="background-color: #ee2229; color:white" type="submit">Save</button>
    <button class="btn" style="background-color: #ee2229; color:white" type="reset" value="Reset">Reset</button>
  </div>
</form>
<hr>
<a class="btn btn-sm" style="background-color: white; color:#ee2229" href='/actuacions/user/{{user._id}}'>Back</a>